@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Hides Vercel/Next.js dev overlay and preview indicator */
#__next-build-watcher,
[data-nextjs-dev-overlay],
[data-nextjs-icon] {
  display: none !important;
}
